backports.functools-lru-cache==1.6.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
cycler==0.10.0
enum34==1.1.10
facebook-sdk==3.1.0
idna==2.9
ipaddress==1.0.23
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.5
pycparser==2.20
pycryptodome==3.9.7
pymongo==3.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.12.0
socks==0
stem==1.8.0
tk==0.1.0